html{
    background-color: #48435C;
}



nav{

    width: 100%;
    height: 100px;
    background-color: black ;

}

nav .main_pages{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .main_pages a{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: "Arial Black","sans-serif";
    color:white;
}

nav a:hover{
    background: #5A5766;
}

label, #toggle{
    display:none;
}

h1{
    text-align: center;
    font-family: "Arial Black","sans-serif";
    color:whitesmoke;
    margin-bottom: 0px;

}
header > img{
    text-align: center;
    width: 10%;
    height: 10%;
}


@media all and (max-width: 991px) {
    nav{
        height: 60px;
    }
    nav .main_pages{
        display:none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }

    label{
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color:white;
        cursor: pointer;
    }

    #toggle:checked + .main_pages{
        display:flex;
    }
}